*{
    margin: 0;
   padding:0;
   box-sizing: border-box;
   font-family: sans-serif;
}
.navbar {
    overflow: hidden;
    width: 100%;
    background-color: #000000;
}
.navbar ul{
    display: flex;
    cursor: pointer;
}
.navbar li{
    list-style: none;
    margin: auto;
    
}
.btn{
  height: 35px;
  width: 76px;
    background-color: dodgerblue;
    color: white;
   margin-right: 10px;
   margin-top: 10px;
   border-radius: 5px;
   margin-left: 10px;
}
.logo1{
   width: 30px;
   margin-top: 15px;
   border-radius: 15px;
}
.input{
    height: 35px;
    margin-left: 1070px;
    padding: 12px;
    margin-top: 10px;
    background-color:#000000 ;
    border-color: #fff;
    border-radius: 5px;
    color: aliceblue;
}
.modal-body h1{
  text-align: center;
  font-weight: 600;
  color: #000000;
  font-size: 30px;
}
.modal-body h3{
  text-align: center;
  font-weight: 200;
  color: #000000;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
}
.form .inp,.form .pass{
  margin-left: 35%;
  margin-bottom: 10px;
}
.text-center{
  margin-top: 20px;
}
.cl1{
    padding: 0 20px;
    background: url("https://is3-ssl.mzstatic.com/image/thumb/Features112/v4/bb/2c/ae/bb2cae80-b4e9-7193-8a4f-fb1129ad59ca/278c3382-c095-47b3-ba19-d82887d8b13a.png/1998x1124sr.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.cl1 .bt:hover{
  transform: scale(.95);
}
.first_box{
   position:relative;
   max-width: 500px;
   padding-left: 50px;
   margin-top: 350px;
}
.first_box h1{
    margin: 0 0 20px;
    padding: 0;
    font-size: 48px;
    color: whitesmoke;
}
.first_box h5{
    margin:0;
    padding: 0;
    font-size: 15px;
    color: whitesmoke;
}
.first_box button{
    margin: 12px;
    padding: 10px;
    width: 300px;
    border-radius: 12px;
    font-weight: 1000;
    margin-left: 0px;
    cursor: pointer;
}
.first_box p{
    margin:0;
    padding: 0;
    font-size: 10px;
    color: darkgray;
    margin-left: 50px;
}
.carousel{
    margin-left: 40px;
   
}
.flickity-slider{
  display: grid;
  grid-template-columns: repeat(6,1fr);
}
  .carousel-cell {
    
    width: 22%;
    height: 170px;
    margin-right: 10px;
    border-radius: 12px;
    counter-increment: carousel-cell;
    margin-top: 12px;
    margin-bottom: 12px;
    cursor: pointer; 
    
  }
  /* cell number */
  .carousel-cell:before {
    display: block;
    content: counter(carousel-cell);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  .carousel img:hover{
    transform: scale(1.2);
  }
  .carousel1{
    margin-left: 40px;
  }
  .carousel-cell1 {
    width:25%;
    height: 190px;
    margin-right: 10px;
    border-radius: 12px;
    counter-increment: carousel-cell;
    margin-bottom: 12px;
    cursor: pointer; 
  }
  /* cell number */
  .carousel-cell1:before {
    display: block;
    content: counter(carousel-cell);
    transform: scale(1.05);
  }
.heading-element1{
  display: block;
  margin-top: 20px;
  font-size: 20px;
  width: 100%;
  padding: 0 50px;
  font-weight: 600;
  color: #000000;
  line-height: 10px;
}
.heading-element1 .header{
  font-size: 20px;
  width: 100%;
  font-weight: 600;
  color: #000000;
}
.lower{
  font-size: 15px;
  width: 100%;
  font-weight: 100px;
  color: #9d9d9d;
}
.hr{
    padding: 0 20px; 
}
.second_box{
    width: 100%;
    margin: auto;
    margin-top: 30px;
}
.second_box img{
    width: 100%;
    display: block;
    height: 80vh;
}
  .flickity-prev-next-button {
    width: 100px;
    height: 100px;
    background: transparent;
  }
  
  .flickity-prev-next-button .arrow {
    fill: white;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
  }
  
  .flickity-prev-next-button:disabled {
    display: none;
  }

.carousel0 {
  height: 100%;
  margin: 0 40px;
}

.carousel-cell0 {
  width: 100%;
  height: 600px;
  margin-right: 10px;
  border-radius: 12px;
  counter-increment: gallery-cell;
}

/* cell number */
.carousel-cell0:before {
  display: block;
  content: counter(gallery-cell);
}

.modal-content{
  min-width: 150%;
  margin-top: 20%;
  margin-left: -30%;
}
.full-card{
  margin-top: -10px;
  min-height: 100vh;
  font-family: 'Poppins',sans-serif;
  background: #fff;
  display: flex;
  justify-content: center;
}
.accordion{
position: relative;
width: 100%;
margin-left: 40px;
margin-top: -20px;
}
.title{
  margin-top: -10px;
  font-size: 3rem;
  text-align: center;
  font-weight: 550;
}
.content-accordion{
  margin-top: 35px;
  margin-right: 50px;
}
.question-answer{
 width: 100%;
 border-bottom: 1px solid #cecece;
}
.question-answer1{
  width: 100%;
}
.question{
 display: flex;
 justify-content: space-between; 
}
.container{
  position: relative;
  margin-top: 50px;
  background: #fff;
  margin-bottom: 30px;
  border-radius: 10px;
  /* filter: drop-shadow(0 0 10px
          rgba(0, 0, 0, 0.5)); */
}
.title-question{
  margin: 1.4rem 0rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #000; 
}
.question-btn{
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}
.up-icon{
  display: none;
}

.answer{
  font-size: .95rem;
  line-height: 1.8;
  display: none;
  color: #444343;
  width: 80%;
}

.show-text .answer{
  display: block;
}

.show-text .up-icon{
  display: inline;
}
.show-text .down-icon{
  display: none;
}
.footer{
  width: 100%;
  margin-left: 40px;
  line-height: 5px;
}
.footer > .help1{
  font-size: 12px;
  color: rgb(177, 176, 176);
}
.footer > .help2{
  font-size: 10px;
  cursor: pointer;
}


